[submodule "native/dependencies/plog"]
	path = native/dependencies/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "dependencies/phosphor"]
	path = dependencies/phosphor
	url = git@github.com:aoli-al/phosphor.git
[submodule "dependencies/soot"]
	path = dependencies/soot
	url = git@github.com:aoli-al/soot.git
[submodule "dependencies/FlowDroid"]
	path = dependencies/FlowDroid
	url = git@github.com:aoli-al/FlowDroid.git
[submodule "applications/fineract-1211"]
	path = applications/fineract-1211
	url = git@github.com:aoli-al/fineract.git
[submodule "applications/hadoop-17812"]
	path = applications/hadoop-17812
	url = git@github.com:aoli-al/hadoop.git
[submodule "applications/hbase-17475"]
	path = applications/hbase-17475
	url = git@github.com:aoli-al/hbase.git
[submodule "applications/hive-26288"]
	path = applications/hive-26288
	url = git@github.com:aoli-al/hive.git
[submodule "applications/hdfs-4128"]
	path = applications/hdfs-4128
	url = git@github.com:aoli-al/hadoop.git
[submodule "applications/kylin-4263"]
	path = applications/kylin-4263
	url = git@github.com:aoli-al/kylin.git
[submodule "applications/mapreduce-6654"]
	path = applications/mapreduce-6654
	url = git@github.com/aoli-al/hadoop.git
[submodule "applications/nifi-8249"]
	path = applications/nifi-8249
	url = git@github.com:aoli-al/nifi.git
[submodule "applications/pool-396"]
	path = applications/pool-396
	url = git@github.com:aoli-al/commons-pool.git
[submodule "applications/solr-16363"]
	path = applications/solr-16363
	url = git@github.com:aoli-al/solr.git
[submodule "applications/wicket-6908"]
	path = applications/wicket-6908
	url = git@github.com:aoli-al/wicket.git
[submodule "applications/zookeeper-2247"]
	path = applications/zookeeper-2247
	url = git@github.com:aoli-al/zookeeper.git
[submodule "applications/cassandra-17663"]
	path = applications/cassandra-17663
	url = git@github.com:aoli-al/cassandra.git
[submodule "applications/ignite-3"]
	path = applications/ignite-3
	url = git@github.com:aoli-al/ignite-3.git
[submodule "applications/ignite-16585"]
	path = applications/ignite-16585
	url = git@github.com:aoli-al/ignite-3.git
[submodule "applications/jena-324"]
	path = applications/jena-324
	url = git@github.com:aoli-al/jena.git
[submodule "applications/hive-13410"]
	path = applications/hive-13410
	url = git@github.com:aoli-al/hive.git
[submodule "applications/tomcat-65131"]
	path = applications/tomcat-65131
	url = git@github.com:aoli-al/tomcat.git
[submodule "applications/hadoop_bench"]
	path = applications/hadoop_bench
	url = https://github.com/apache/hadoop
[submodule "applications/tomcat_bench"]
	path = applications/tomcat_bench
	url = git@github.com:apache/tomcat.git
[submodule "applications/jena_bench"]
	path = applications/jena_bench
	url = git@github.com:aoli-al/jena.git
[submodule "applications/solr_bench"]
	path = applications/solr_bench
	url = git@github.com:aoli-al/solr.git
[submodule "applications/fineract_bench"]
	path = applications/fineract_bench
	url = git@github.com:aoli-al/fineract.git
