[submodule "native/dependencies/plog"]
	path = native/dependencies/plog
	url = https://github.com/SergiusTheBest/plog
[submodule "dependencies/phosphor"]
	path = dependencies/phosphor
	url = git@github.com:aoli-al/phosphor.git
[submodule "dependencies/soot"]
	path = dependencies/soot
	url = git@github.com:aoli-al/soot.git
[submodule "dependencies/FlowDroid"]
	path = dependencies/FlowDroid
	url = git@github.com:aoli-al/FlowDroid.git
